div {
    display: inline-block;
}

#trace {
    width: 800px;
    height: 32px;
    border: solid 1px;
}


.state {
	fill: rgb(200, 200, 200);
    stroke: black;
    stroke-width: 1px;
    
}

.state:hover {
	fill: rgb(240, 240, 240);
    stroke: black;
    stroke-width: 1px;
}

.statehighlighted {
	fill: #ff8800;
    stroke: #dd6600;
    stroke-width: 1px;
}


.node:hover {
  fill: #882200;
}


.node text {
  font: 10px sans-serif;

}

.AND {
  fill: rgb(64, 192, 255);
}



.SAND {
  fill: orange;
  stroke-width: 1px;
}


.OR {
  fill: rgb(64, 255, 64);
}

.terminal {
  fill: yellow;
}


.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}



